{% extends 'navigation.twig' %}
{% block body %}
    <section>
    <div class="container">
        <div class="col">
            <div class="device-status">
                <div class="status">
                    <table>
                        <thead>
                            <tr>
                                <th>Switch One</th>
                                <th>Switch Two</th>
                                <th>Switch Three</th>
                                <th>Switch Four</th>
                                <th>Keypad</th>
                                <th>Fan</th>
                                <th>Temperature</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ s1 }}</td>
                                <td>{{ s2 }}</td>
                                <td>{{ s3 }}</td>
                                <td>{{ s4 }}</td>
                                <td>{{ keypad }}</td>
                                <td>{{ fan }}</td>
                                <td>{{ temp }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}