{% extends 'navigation.twig' %}
{% block body %}
    <section>
    <div class="container">
        <div class="col">
            <div class="device-status">
                <div class="status">
                    <p>Keypad:{{ keypad }}<p>
                    <p>Fan: {{ fan }}<p>
                    <p>Temperature: {{ temp }}<p>
                    <p>Switch 1:{{ s1 }}<p>
                    <p>Switch 2:{{ s2 }}<p>
                    <p>Switch 3:{{ s3 }}<p>
                    <p>Switch 4:{{ s4 }}<p>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}